html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.messages {
  height: 440px;
  overflow-y: scroll;
}

.message__from {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}
